<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Plan Art & Advertisement/art_artist.css">
</head>
<body>
    
    <!-- Art & Artist Section -->
    <div class="art-artist-section">

        <!-- Title Section -->
        <div class="title-section">

            <h1><%= pageData.art_artist_details[0].title %> </h1>

        </div>

        <!-- Para Section -->
        <div class="para-section">

            <p><%= pageData.art_artist_details[0].para %></p>

        </div>

        <!-- Artist Section -->
        <div class="artist-section">

            <!-- Title Section -->
            <div class="title-section">

                <h2><%= pageData.art_artist_details[1].title %> </h2>

            </div>

            <!-- Artist Image Section -->
            <div class="artist-image-section">

                <img src="<%= pageData.art_artist_details[1].artist_image %>" alt="<%= pageData.art_artist_details[1].artist_image_alttext %>">
                <span><%= pageData.art_artist_details[1].artist_name %></span>

            </div>

            <!-- Artist Details -->
            <div class="artist-details-section">

                <!-- Inner Box -->
                <div class="artist-details-inner-box">

                    <p><%= pageData.art_artist_details[1].artist_details %></p>

                </div>
                
            </div>

        </div>

    </div>

</body>
</html>