<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Favicon/favicon.png">
    <link rel="stylesheet" href="/styles/About/About.css">
    <title>Tala Prottoy - About</title>
</head>
<body>
    
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Parent Main Container -->
    <div class="parent-container">

        <!-- Main -->
        <main>

            <% about.forEach((aboutItem) => { %> 
            
                <!-- Banner Image Container -->
                <div class="page_banner_single_image_section">
                
                    <img src="<%= aboutItem.about_page_details[0].about_banner_image %>" alt="<%= aboutItem.about_page_details[0].about_banner_image_alttext %>">
                
                </div>

                <!-- Content Section -->
                <div class="about-page-content-section">

                    <!-- About Intro Section -->
                    <div class="about-page-intro-div">

                        <!-- Inner Intro Section -->
                        <div class="about-inner-intro-div">

                            <h2> <%= aboutItem.about_page_details[0].about_page_contents[0].first_section.title %> </h2>
                            <p> <%= aboutItem.about_page_details[0].about_page_contents[0].first_section.para %> </p>

                        </div>
                    
                    </div>

                    <!-- About Our Vision -->
                    <div class="about-our-vision">

                        <!-- Inner Our Vision -->
                        <div class="about-inner-our-vision">

                            <h2><%= aboutItem.about_page_details[0].about_page_contents[1].second_section.title %></h2>

                            <ul>

                                <% aboutItem.about_page_details[0].about_page_contents[1].second_section.list_items.forEach((items) => { %> 
                            
                                    <li> <%= items.first_item  %></li>
                                    <li> <%= items.second_item  %></li>
                                    <li> <%= items.third_item  %></li>
                                    <li> <%= items.fourth_item  %></li>
                                    <li> <%= items.fifth_item  %></li>
                                
                                <% }) %>

                            </ul>

                        </div>

                    </div>

                    <!-- About Our Mission -->
                    <div class="about-our-mission">

                        <!-- Inner Our Mission -->
                        <div class="about-inner-our-mission">

                            <h2> <%= aboutItem.about_page_details[0].about_page_contents[2].third_section.title %> </h2>
                            <ul>

                                <% aboutItem.about_page_details[0].about_page_contents[2].third_section.list_items.forEach((items) => { %> 
                                
                                    <li><%= items.first_item %></li>
                                    <li><%= items.second_item %></li>
                                    <li><%= items.third_item %></li>
                                    
                                <% }) %>

                            </ul>

                        </div>

                    </div>

                    <!-- About Thrust Area -->
                    <div class="about-thrust-area">

                        <!-- Inner Thrust Area -->
                        <div class="about-inner-thrust-area">

                            <h2><%= aboutItem.about_page_details[0].about_page_contents[3].fourth_section.title %></h2>
                            <ul>

                                <% aboutItem.about_page_details[0].about_page_contents[3].fourth_section.list_items.forEach((items) => { %> 
                                
                                    <li><%= items.first_item %></li>
                                    <li><%= items.second_item %></li>
                                    <li><%= items.third_item %></li>

                                <% }) %>
                                

                            </ul>

                        </div>

                    </div>

                </div>
            
            <% }) %>

            <!-- Button Bar Section -->
            <%- include('../partials/Buttonbar.ejs') %>

            <!-- Produd Winner Section -->
            <%- include('../partials/Proudwinner.ejs') %>

        </main>

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>

    </div>

</body>
</html>